<form asp-action="Index">
    <label>Ma nhan vien: </label>
    <input type="text" name="MaNV" placeholder="nhap Ma nhan vien"/>
    <label>Ten nhan vien: </label>
    <input type="text" name="TenNV" placeholder="nhap Ten nhan vien"/>
    <label>Tuoi: </label>
    <input type="number" name="Tuoi" placeholder="nhap Tuoi nhan vien"/>
    <label>Luong: </label>
    <input type="number" name="Luong" placeholder="nhap Luong nhan vien"/>
    <button type="submit">Nhap</button>
</form>
<H1>@ViewBag.A</H1>