<form asp-action="Solve">
    <label>A: </label>
    <input type="number" name="A" placeholder="nhap A" />
    <label>B:</label>
    <input type="number" name="B" placeholder="nhap B" />
    <input type="submit" value="Gpt" />
</form>
<h1>@ViewBag.A</h1>
<h1>@ViewBag.B</h1>