<form asp-action="SoSanh">
    <label>A: </label>
    <input type="number" name="STT1" placeholder="nhap STT1"/>
    <label>B: </label>
    <input type="number" name="STT2" placeholder="nhap STT2"/>
    <button type="submit">so sanh</button>
</form>
<H1>@ViewBag.A</H1>
<h1>@ViewBag.B</h1>
<h1>@ViewBag.C</h1>