<form asp-action="Calculate">
    <label>A: </label>
    <input type="number" name="A" placeholder="nhap A"/>
    <label>B: </label>
    <input type="number" name="B" placeholder="nhap B"/>
    <button type="submit">tính</button>
</form>
<H1>@ViewBag.A</H1>
<h1>@ViewBag.B</h1>
<h1>@ViewBag.C</h1>